# Virtual environments
.venv/
venv/
env/
ENV/

# Python execution caches
__pycache__/
.pytest_cache
*.pyc
*.pyo
*.pyd

# OS metadata & IDEs
.vscode/
.idea/
.DS_Store
Thumbs.db

# Packaging and distribution builds
build/
dist/
*.egg-info/
